{% extends "main/structure.html.twig" %}

{% block inner %}
    <div id="page">
        <header class="l-header">
                <div class="c-header l-column">
                    <a class="c-logo js-logo" href="/" title="Home"></a>
                    <nav class="c-nav js-nav">
                        <div class="c-nav_overlay"></div>
                        <div class="c-nav_login">
                            <a href="https://apps.mercdev.com/Account/LogOn">Login</a>
                        </div>
                        <div class="c-nav_wrap">
                            <div class="c-nav_link_wrap">
                                <a class="c-nav_link" href="http://new.mercdev.com/company/about" title=
                                ""><span>Company</span></a>
                            </div>
                            <div class="c-nav_link_wrap">
                                <a class="c-nav_link" href="http://new.mercdev.com/what-we-do" title=
                                ""><span>What we do</span></a>
                            </div>
                            <div class="c-nav_link_wrap">
                                <a class="c-nav_link" href="http://new.mercdev.com/contacts" title=
                                ""><span>Contacts</span></a>
                            </div>
                            <div class="c-nav_footer">
                                <p class="b-nav_footer_text"><span>+1 305 767
                                2434</span></p><a class=
                                "b-nav_footer_email b-nav_footer_text" href=
                                "mailto:sales@mercurydevelopment.com"><span>sales@mercurydevelopment.com</span></a>
                            </div>
                        </div>
                    </nav>
                </div>
            </header>
        <main>
            {% block content %}
                Content will be here
            {% endblock %}
        </main>

        <footer></footer>

    </div>

    <footer class="l-footer">
        <div class="c-footer l-column">
            <div class="b-footer_contact">
                <p class="c-copyright"><span>© 1999-2015 Mercury Development
                LLC</span></p><a class="b-footer_email" href=
                "mailto:sales@mercurydevelopment.com"><span>sales@mercurydevelopment.com</span></a>
            </div>
            <div class="b-footer_address">
                <address class="c-office">
                    <div class="c-office_phone">
                        <span>305 767 2434</span>
                    </div>
                    <div class="c-office_place">
                        <span>Aventura, FL</span>
                    </div>
                </address>
                <address class="c-office">
                    <div class="c-office_phone">
                        <span>305 767 2434 ext 102</span>
                    </div>
                    <div class="c-office_place">
                        <span>Atlanta, GA</span>
                    </div>
                </address>
            </div>
            <!-- <a class="c-customer_login b-footer_customer_login" href=
            "https://apps.mercdev.com/"><span>Customer login</span></a> -->
        </div>
    </footer>
    <div style="position: fixed; left: -1000000px;">
        <!-- Google Code for Remarketing tag -->
        <!-- Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. For instructions on adding this tag and more information on the above requirements, read the setup guide: google.com/ads/remarketingsetup -->
        <script type="text/javascript">
            /* <![CDATA[ */
            var google_conversion_id = 1072503290;
            var google_conversion_label = "HmaVCNy7tAQQ-rO0_wM";
            var google_custom_params = window.google_tag_params;
            var google_remarketing_only = true;
            /* ]]> */
        </script>
        <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
        </script>
        <noscript>
            <div style="display:inline;">
                <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1072503290/?value=0&amp;label=HmaVCNy7tAQQ-rO0_wM&amp;guid=ON&amp;script=0"/>
            </div>
        </noscript>
    </div>
{% endblock %}