{% extends "main/layout.html.twig" %}

{% block title %}
    Find UDID
{% endblock %}

{% block header %}
    header--blue
{% endblock %}

{% block content %}
    <section class="udid color-reaction">
        <div class="content-wrapper inner">
            <h1 class="left-align">Your UDID:</h1>
            <h4 class="left-align code">{{ udid }}</h4>
        </div>
        {#<div class="content-wrapper copy-button">#}
            {#<a class="copy-link" href="#">Copy</a>#}
        {#</div>#}
    </section>
    <section class="udid-button">
        <a class="button" id="request-estimate" href="mailto:?subject=My device UDID&body=Hey,\n\nHere is the UDID of my device provided by http://udid.mercdev.com/:\n\n{{ udid }}">Send UDID via E-mail</a>
    </section>
{% endblock %}