<IfModule mod_rewrite.c>
     Options -MultiViews

     RewriteEngine On
     RewriteBase /
     #RewriteBase /test/mercdevUDID/
     #RewriteBase /silex/ #This one is for production
     RewriteCond %{REQUEST_FILENAME} !-f
     RewriteRule ^ index.php [QSA,L]
</IfModule>