*{
	margin: 0;
	padding: 0;
}
html, body {
	height: 100%;
	min-height: 100%;
}
body {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: space-around;
	justify-content: space-around;
	-webkit-align-items: center;
	align-items: center;
}
.p-obj {
	width: 700px;
	font-size: 20px;
}
.e-obj {
	width: 700px;
	font-size: 2em;
}
.d-obj {
	width: 700px;
	font-size: 20pt;
}