@font-face {
    font-family: "Helvetica-Neue";
    src: url("fonts/helvetica-neue.eot");
    src: url("fonts/helvetica-neue.eot?#iefix") format("embedded-opentype"),
    url("fonts/helvetica-neue.woff") format("woff"),
    url("fonts/helvetica-neue.ttf") format("truetype"),
    url("fonts/helvetica-neue.svg#HelveticaNeue") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica-Neue-Light';
    src: url("fonts/helvetica-neue-light.eot");
    src: url("fonts/helvetica-neue-light.eot?#iefix") format("embedded-opentype"),
    url("fonts/helvetica-neue-light.woff") format("woff"),
    url("fonts/helvetica-neue-light.ttf") format("truetype"),
    url("fonts/helvetica-neue-light.svg#HelveticaNeue-Light") format("svg");
    font-weight: normal;
    font-style: normal;
}

html {height: 100%;}
body,
#page {
    padding: 0; margin: 0;
    height: 100%;
    min-height: 100%;
}

body {
    font-size: 14px;
    line-height: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    color: #545b61;
}
#page {
    display: block; position: relative;
    width: 100%;
    height: auto !important;
    //height: 100%;
    margin: 0 auto;
}

body > footer,
#page > footer {
    display: block;
    height: 6em;
}

body > footer {
    margin: -6em 0 0 0;
    background: black;
}

main {padding-bottom: 4em;}


/*---- COMMON -------*/
/**
 * Markup free clearing.
 *
 * @see http://perishablepress.com/press/2009/12/06/new-clearfix-hack
 */
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
/* IE6 */
* html .clearfix {
    height: 1%;
}
/* IE7 */
*:first-child + html .clearfix {
    min-height: 1%;
}


.ibi {
    list-style: none;

    display: -moz-inline-stack;

    display: inline-block;

    //zoom: 1;
    //display: inline;


    letter-spacing: normal;
    word-spacing: normal;

    padding: 0; margin: 0;

    vertical-align: top;

    width: auto;
}
.content-wrapper {
    width: 960px;
    margin: 0 auto;
}


h1, h2, h3, h4 {
    font-family: Cuprum, Helvetica, sans-serif;
    margin: 1em 0 0 0;
}
h1 {font-size: 3em; line-height: normal; font-style: italic;}
h2 {font-size: 1.5em; line-height: normal;}

p { font-family: ArsenalRegular, sans-serif; margin: 1em 0 0 0; padding: 0;}

/* icons */
.ic {
    display: -moz-inline-stack;

    display: inline-block;

    //zoom: 1;
    //display: inline;

    position: relative;
    overflow: hidden;

    letter-spacing: normal;
    word-spacing: normal;

    padding: 0; margin: 0;

    vertical-align: top;

    width: auto;
}
.ic img { position: absolute; top: 0; left: 0}

.ic.iphone {width: 50px; height: 108px;}
.ic.iphone img {top: -77px; left: -214px}

.ic.darts {width: 80px; height: 80px;}
.ic.darts img {top: -104px; left: -106px}

.ic.apple {width: 81px; height: 92px;}
.ic.apple img {top: -75px; left: 0;}

.ic.man {width: 36px; height: 90px;}
.ic.man img {top: 0; left: -102px;}

.ic.tick {width: 65px; height: 64px;}
.ic.tick img {top: -190px; left: 0;}

.ic.apple-android {width: 64px; height: 64px;}
.ic.apple-android img {top: 0; left: 0;}

.ic.get-app {width: 64px; height: 64px;}
.ic.get-app img {top: 0; left: -164px;}




.color-reaction b {
    -webkit-transition: color 1s ease-out;
    -moz-transition: color 1s ease-out;
    -o-transition: color 1s ease-out;
    transition: color 1s ease-out;
}

.color-set-1b97d7 .color-reaction b {color: #1b97d7;}
.color-set-2895c8 .color-reaction b {color: #2895c8;}
.color-set-aec665 .color-reaction b {color: #aec665;}
.color-set-f54f7a .color-reaction b {color: #f54f7a;}
.color-set-f72e37 .color-reaction b {color: #f72e37;}
.color-set-f15656 .color-reaction b {color: #f15656;}
.color-set-ff3939 .color-reaction b {color: #ff3939;}



a.button {
    display: inline-block;

    //zoom: 1;
    //display: inline;

    position: relative;
    overflow: hidden;

    letter-spacing: normal;
    word-spacing: normal;

    padding: 0.35em 3.5em; margin: 0;

    vertical-align: top;

    width: auto;

    font-family: Cuprum, Helvetica, sans-serif;
    font-size: 1.2em; line-height: normal;
    color: #ffffff;
    background: #ee3b23;
    text-decoration: none;

    text-shadow: 1px 1px 1px #464646;

    -webkit-border-radius: 5px;
    border-radius: 6px;

    box-shadow: 0 4px 0 #a12917;
}
a.button:hover {background-color: #F04F39;}




/*---- SECTIONS -------*/

#header {
    background: #231f20;
}


#info ul.features,
#info ul.features li {
    list-style: none;
    margin: 0; padding: 0;
}
#info ul.features { text-align: center; margin: -2em 0 0 0;}
#info ul.features li .ic {vertical-align: middle;}
#info ul.features li {
    margin: 2em 0 0 0;

    font-size: 1.8em; line-height: normal;
    font-family: Cuprum, Helvetica, sans-serif;

    vertical-align: middle;
    text-align: left;

    width: 49%;
}
#info ul.features li:nth-child(even) {}
#info ul.features li span.ibi {vertical-align: middle;}
#info ul.features li em {
    font-size: 4em; line-height: normal;
    font-style: normal; text-transform: uppercase;
    vertical-align: middle;
}



#info ul.features li.mobile {}
#info ul.features li.mobile span.ibi:first-child {margin-top: 0.5em;}
#info ul.features li.mobile span.ibi:first-child .ic {margin-right: 0.3em;}
#info ul.features li.mobile span.ibi + span.ibi > span {
    display: block;
    font-size: 1.4em;
    line-height: normal;
    margin: -0.6em 0 0 0.2em;
}

#info ul.features li.apps {text-align: right;}
#info ul.features li.apps > .ibi {text-align: left;}
#info ul.features li.apps > .ibi > span + span {
    display: block;
    font-size: 1.1em; line-height: normal;
    margin: -0.6em 0 0 0;
    letter-spacing: -0.05ex;

}



#info ul.features li.ios {margin-left: -0.5em; margin-right: 0.5em;}
#info ul.features li.ios span.ibi + span.ibi > span {display: block; margin: -0.8em 0 0 0;}

#info ul.features li.experts {text-align: right;}
#info ul.features li.experts span.ibi:first-child em {font-size: 5em; line-height: normal;}
#info ul.features li.experts span.ibi + span.ibi {font-size: 1.2em; line-height: normal;}
#info ul.features li.experts span.ibi + span.ibi em {font-size: 2.5em; line-height: normal; display: block; margin: -0.2em 0 0 0;}

#info p {font-size: 1.5em; line-height: 1.5em;}



/* banner */
#info .banner { margin: 2em 0 0 0; padding: 150px 0 0 0; overflow: hidden}

#info .banner p,
#info .banner h1,
#info .banner h2,
#info .banner h3 {color: #ffffff; font-style: normal;}
#info .banner h3 {font-size: 46px; line-height: normal; margin: 0;}
#info .banner ul li {overflow: visible !important;}

#info .banner .tp-banner {display: none;}
#info .banner .tp-banner.revslider-initialised {display: block;}



.tp-leftarrow {
    background: url(large_left_white.png) no-Repeat top left;
    right: auto !important;
    left: 50% !important;
    margin-left: -610px !important;
}
.tp-rightarrow {
    background: url(large_right_white.png) no-Repeat top left;
    right: auto !important;
    left: 50% !important;
    margin-left: 570px !important;
}


.tp-leftarrow.default {background: url(large_left_white.png) no-Repeat 0 0;}
.tp-rightarrow.default {background: url(large_right_white.png) no-Repeat 0 0;}




#market  h1 {margin-top: 2em;}
#market p {font-size: 1.5em; line-height: 1.5em;}

#market ul,
#market ul li {
    list-style: none;
    margin: 0; padding: 0;
}
#market ul {margin-top: 5em;}
#market ul li {
    position: relative;
    padding: 0 0 0 84px;
    margin-left: 8em;
}
#market ul li .ic { position: absolute; top: 0.5em; left: 0;}


