html {min-height: 100%;position: relative;}
body,
#page {
  padding: 0; margin: 0;
  min-height: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: 14px;
  line-height: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
  color: #545b61;
  height: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
}
@media (min-width: 632px) and (max-width: 1040px) {
  body {
    font-size: 12px;
    line-height: 1.5em;
  }
}
@media (min-width: 0) and (max-width: 632px)  {
  body {
    font-size: 10px;
    line-height: 1.5em;
  }
}
#page {
  display: block; position: relative;
  width: 100%;
  height: auto !important;
  //height: 100%;
  margin: 0 auto;
}


h1, h2, h3, h4 {
  font-family: CuprumBoldItalic, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  margin: 1em 0 0 0;
}
h1 {font-size: 2.5em; line-height: normal;}
h2 {font-size: 1.7em; line-height: normal;}
h3 {font-size: 1.3em; line-height: normal;}

@media (min-width: 0) and (max-width: 600px)  {
  h1, h2, h3, h4 {
    margin: 0.5em 0 0 0;
  }
  h1 {font-size: 2.4em; line-height: normal;}
}

p,
ul li,
ol li { font-family: ArsenalRegular, sans-serif;}
p {margin: 1em 0 0 0; padding: 0;}


a {
  color: #EE3B23;
  text-decoration: none;
  border-bottom: 1px solid #fcd8d3;
}
a:hover {  border-bottom: 1px solid #EE3B23;}


a img {border: none;}





.ibi {
  list-style: none;

  display: -moz-inline-stack;

  display: inline-block;

  //zoom: 1;
  //display: inline;


  letter-spacing: normal;
  word-spacing: normal;

  padding: 0; margin: 0;

  vertical-align: top;

  width: auto;
}



.tb > * {display: table; width: 100%; height: 100%;}
.tb > * > * {display: table-cell; text-align: center; vertical-align: middle;}




.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* IE6 */
* html .clearfix {
  height: 1%;
}
/* IE7 */
*:first-child + html .clearfix {
  min-height: 1%;
}




/* grid */
.content-wrapper {
  width: 936px;
  margin: 0 auto;
}
@media (max-width: 1040px) {
  .content-wrapper {
    width:  auto;
    margin: 0 5%;
  }
}







/* Header menu */
header {
  box-shadow: 0 0 7px 1px #ccc;
}

.c-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  align-items: stretch;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  position: relative;
  font-family: 'Cuprum-700', sans-serif;
  font-size: 10px;
}

.c-header a:hover {
  text-decoration: none;
  border-bottom: none;
}

@media only screen and (max-width: 1023px) {
  .c-header {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-grid-row-align: center;
        align-items: center;
    box-sizing: border-box;
    height: 6.2em;
  }
}

@media only screen and (min-width: 1024px) {
  .c-header {
    height: 8em;
    text-transform: uppercase;
  }
}

@media only screen and (max-width: 1023px) {
  .b-header_request_estimate_link {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  .b-header_request_estimate_link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
  }
}

/**
 * Component Popup
 **/
.c-popup {
  position: relative;
  overflow: hidden;
}

.c-popup_close {
  position: absolute;
  z-index: 2;
  width: 1.6em;
  height: 1.6em;
  cursor: pointer;
  background-image: url(../img/components/popup/close/close.svg);
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.c-popup_content {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.c-popup.request_estimate {
  position: absolute;
  z-index: 2;
}

@media only screen and (max-width: 1023px) {
  .c-popup.request_estimate {
    top: 0;
    left: 120%;
    width: 100%;
    height: 100%;
    -webkit-transition: left .3s ease;
    transition: left .3s ease;
  }
}

@media only screen and (min-width: 1024px) {
  .c-popup.request_estimate {
    top: 120%;
    left: 50%;
    -webkit-transition: top .7s ease, margin-top .7s ease;
    transition: top .7s ease, margin-top .7s ease;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  .c-popup.request_estimate {
    width: 59.4em;
    height: 46.8em;
    margin-left: -29.7em;
  }
}

@media only screen and (min-width: 1280px) {
  .c-popup.request_estimate {
    width: 74em;
    height: 60em;
    margin-left: -37em;
  }
}

@media only screen and (max-width: 1023px) {
  .c-popup.request_estimate .c-popup_close {
    display: none;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  .c-popup.request_estimate .c-popup_close {
    top: 3.7em;
    right: 5.1em;
  }
}

@media only screen and (min-width: 1280px) {
  .c-popup.request_estimate .c-popup_close {
    top: 3.25em;
    right: 6.05em;
  }
}

@media only screen and (max-width: 1023px) {
  .c-popup.request_estimate .c-popup_content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
  }
}

@media only screen and (max-width: 1023px) {
  .c-request_estimate.active .c-popup {
    left: 0;
  }
}

@media only screen and (min-width: 1024px) {
  .c-request_estimate.active .c-popup {
    top: 50%;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  .c-request_estimate.active .c-popup {
    margin-top: -23.4em;
  }
}

@media only screen and (min-width: 1280px) {
  .c-request_estimate.active .c-popup {
    margin-top: -30em;
  }
}

/* login form */
#block-user-login {
  display: block; position: relative;
  padding: 0 0 15px 0;
  margin-top: -200px;
  background: #ed3d24;

  font-size: 12px; line-height: normal;

}
#block-user-login:before {
  content: '';
  display: block; overflow: hidden;
  position: relative; z-index: 3;
  height: 5px;

  background: url("../misc/header.png") repeat-x;

  -moz-background-size: 30px 124px;
  -webkit-background-size: 30px 124px;
  -o-background-size: 30px 124px;
  background-size: 30px 124px;

}
#block-user-login > div {
  background: url("../misc/grill.png") #f0f0f1 repeat;

  -moz-background-size: 2px 2px;
  -webkit-background-size: 2px 2px;
  -o-background-size:  2px 2px;
  background-size: 2px 2px;

  margin: 11px 5% 0 5%;
  padding: 10px 20px 0px 20px;
  height: 157px;
  border: 1px solid #808182;

  -webkit-border-radius: 5px;
  border-radius: 5px;

  -webkit-box-shadow: 0px 0px 4px 0px #535455;
  box-shadow: 0px 0px 4px 0px #535455;

  overflow: hidden;
}
#block-user-login .form-item,
#block-user-login .form-actions {margin: 1em 0 0 0;}

#block-user-login form label {display: none;}
#block-user-login form .item-list {display: none;}
#block-user-login form .form-text {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;

  font-size: 1em; line-height: normal;
  background: #fff;
  margin: 0 !important;
  padding: 0.5em 0.3em;

  -webkit-border-radius: 5px;
  border-radius: 5px;

  outline: 0;
  border: 1px solid #d19a99;

}
#block-user-login form .form-submit {
  -webkit-appearance: none;

  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;

  font-size: 1.2em; line-height: normal;
  padding: 0.5em 0.6em;
  margin-bottom: 0;

  color: #fff;
  text-align: center;

  border: 1px solid #9b2112;
  background: #ee3b23;

  -webkit-border-radius: 5px;
  border-radius: 5px;

  cursor: pointer;
}
#block-user-login form .form-submit:hover {
  background: #bd2f1c;

  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JkMmYxYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI0JSIgc3RvcC1jb2xvcj0iI2JkMmYxYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2JlMmYxYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc5JSIgc3RvcC1jb2xvcj0iI2Q0MzUxZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZTNiMjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #bd2f1c 0%, #bd2f1c 24%, #be2f1c 50%, #d4351f 79%, #ee3b23 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bd2f1c), color-stop(24%,#bd2f1c), color-stop(50%,#be2f1c), color-stop(79%,#d4351f), color-stop(100%,#ee3b23));
  background: -webkit-linear-gradient(top,  #bd2f1c 0%,#bd2f1c 24%,#be2f1c 50%,#d4351f 79%,#ee3b23 100%);
  background: -o-linear-gradient(top,  #bd2f1c 0%,#bd2f1c 24%,#be2f1c 50%,#d4351f 79%,#ee3b23 100%);
  background: -ms-linear-gradient(top,  #bd2f1c 0%,#bd2f1c 24%,#be2f1c 50%,#d4351f 79%,#ee3b23 100%);
  background: linear-gradient(to bottom,  #bd2f1c 0%,#bd2f1c 24%,#be2f1c 50%,#d4351f 79%,#ee3b23 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bd2f1c', endColorstr='#ee3b23',GradientType=0 );

  -webkit-transition: background 0.1s linear;
  -moz-transition: background 0.1s linear;
  -ms-transition: background 0.1s linear;
  -o-transition: background 0.1s linear;
  transition: background 0.1s linear;


}


#block-user-login form .form-submit:active {
  -webkit-box-shadow: inset 0px 2px 5px 0px #393939;
  box-shadow: inset 0px 2px 5px 0px #393939;
}


#block-user-login form .form-submit.disabled,
#block-user-login form .form-submit[disabled] {
  opacity: 0.65;
  filter: alpha(opacity=65);
}


/**
 * Component Shadow
 **/
.c-shadow {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity .7s ease;
  transition: opacity .7s ease;
  opacity: 0;
  background: #1c1c1c;
}

@media only screen and (max-width: 1023px) {
  .c-request_estimate .c-shadow {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  .c-request_estimate.active .c-shadow {
    opacity: .8;
  }
}

/**
 * Component Request Estimate
 **/
.c-logo {
  display: block;
  height: 100%;
  border-bottom: none;
}

@media only screen and (max-width: 1023px) {
  .c-logo {
    position: relative;
    z-index: 2;
    -webkit-transition: opacity .4s ease .2s;
    transition: opacity .4s ease .2s;
    opacity: 1;
  }
  .c-logo.hide {
    -webkit-transition: opacity .2s ease;
    transition: opacity .2s ease;
    opacity: 0;
  }
}

.c-logo:before {
  display: block;
  width: 19.7em;
  height: 5.1em;
  margin-top: 1em;
  content: ' ';
  background: url(../images/merc-logo.svg) center no-repeat;
}

@media only screen and (max-width: 767px) {
  .c-logo:before {
    margin-top: .8em;
    margin-left: -.7em;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .c-logo:before {
    margin-top: .9em;
    margin-left: -.4em;
  }
}

@media only screen and (max-width: 1023px) {
  .c-logo:before {
    width: 14em;
    height: 3.6em;
  }
}

@media only screen and (min-width: 1024px) {
  .c-logo:before {
    width: 19.7em;
    height: 5.1em;
    margin-top: 1em;
  }
}

.c-nav_login {
  display: none;
}

@media only screen and (max-width: 1023px) {
  .c-nav {
    position: absolute;
    z-index: 1;
    top: 2.3em;
    right: 1.2em;
    width: 4.4em;
    height: 4.4em;
    -webkit-transition: all 216.66667ms ease 416.66667ms;
    transition: all 216.66667ms ease 416.66667ms;
    
  }
  .c-nav.active {
    box-sizing: border-box;
    width: auto;
    height: auto;
    -webkit-transition: none;
    transition: none;
  }
  .c-nav.active .c-nav_wrap {
    width: 100vw;
    height: 100%;
    min-height: 100vh;
    -webkit-transition: opacity 416.66667ms ease 216.66667ms;
    transition: opacity 416.66667ms ease 216.66667ms;
    opacity: 1;
    -webkit-overflow-scrolling: touch;
  }
  .c-nav:before {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 4.4em;
    height: 4.4em;
    content: '';
    -webkit-transition: all 633.33333ms ease, opacity 633.33333ms ease 416.66667ms;
    transition: all 633.33333ms ease, opacity 633.33333ms ease 416.66667ms;
    opacity: 0;
    border-radius: 2.2em;
    background: #fff;
  }
  .c-nav.active:after {
    opacity: 0;
  }
  .c-nav.collapse:after {
    top: .8em;
    right: 1.2em;
    width: 4.4em;
    height: 4.4em;
    border-radius: 2.2em;
  }
  .c-nav_login {
    display: block;
    font-size: 2em;
    position: relative;
    z-index: 5;
  }
  .c-nav_login a {
    border-bottom: none;
    text-transform: uppercase;
  }
}

@media only screen and (orientation: landscape) and (max-width: 1023px) {
  .c-nav.active:before {
    top: 50%;
    right: 50%;
    width: 300vw;
    height: 300vw;
    margin: -150vw -150vw 0 0;
    -webkit-transition: all 633.33333ms ease, opacity 1ms ease;
    transition: all 633.33333ms ease, opacity 1ms ease;
    opacity: 1;
    border-radius: 150vw;
  }
}

@media only screen and (orientation: portrait) and (max-width: 1023px) {
  .c-nav.active:before {
    top: 50%;
    right: 50%;
    width: 300vh;
    height: 300vh;
    margin: -150vh -150vh 0 0;
    -webkit-transition: all 633.33333ms ease, opacity 1ms ease;
    transition: all 633.33333ms ease, opacity 1ms ease;
    opacity: 1;
    border-radius: 150vh;
  }
}

@media only screen and (min-width: 1024px) {
  .c-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    -webkit-align-items: stretch;
    -moz-align-items: stretch;
    align-items: stretch;
  }
}

@media only screen and (max-width: 1023px) {
  .c-nav_wrap {
    position: absolute;
    z-index: 3;
    top: -.8em;
    right: -1.2em;
    overflow-y: auto;
    box-sizing: border-box;
    width: 0;
    height: 0;
    padding: 8.4em 2.8em 0;
    -webkit-transition: all 1s ease 416.66667ms, opacity 416.66667ms ease;
    transition: all 1s ease 416.66667ms, opacity 416.66667ms ease;
    opacity: 0;
  }
}

@media only screen and (min-width: 1024px) {
  .c-nav_wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    -webkit-align-items: stretch;
    -moz-align-items: stretch;
    align-items: stretch;
  }
}

.c-nav_overlay {
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 6.2em;
  background: #fff;
  box-shadow: 0 0 4px 2px #ccc;
}

.c-nav_ico {
  display: none;
}

@media only screen and (max-width: 1023px) {
  .c-nav_ico {
    position: absolute;
    z-index: 4;
    top: 1.4em;
    right: 1em;
    display: block;
    width: 2.4em;
    height: 1.6em;
  }
}

.c-nav_ico.active .top {
  top: 0.7em;
  -webkit-transition: top 233.33333ms ease-in-out 33.33333ms, -webkit-transform 266.66667ms ease-in-out 333.33333ms;
  transition: top 233.33333ms ease-in-out 33.33333ms, -webkit-transform 266.66667ms ease-in-out 333.33333ms;
  transition: top 233.33333ms ease-in-out 33.33333ms, transform 266.66667ms ease-in-out 333.33333ms;
  transition: top 233.33333ms ease-in-out 33.33333ms, transform 266.66667ms ease-in-out 333.33333ms, -webkit-transform 266.66667ms ease-in-out 333.33333ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.c-nav_ico.active .middle {
  top: 50%;
  margin-top: -.1em;
  -webkit-transition: -webkit-transform 266.66667ms ease-in-out 333.33333ms;
  transition: -webkit-transform 266.66667ms ease-in-out 333.33333ms;
  transition: transform 266.66667ms ease-in-out 333.33333ms;
  transition: transform 266.66667ms ease-in-out 333.33333ms, -webkit-transform 266.66667ms ease-in-out 333.33333ms;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.c-nav_ico.active .bottom {
  bottom: 0.7em;
  -webkit-transition: bottom 233.33333ms ease-in-out 33.33333ms, -webkit-transform 300ms ease-in-out 333.33333ms;
  transition: bottom 233.33333ms ease-in-out 33.33333ms, -webkit-transform 300ms ease-in-out 333.33333ms;
  transition: bottom 233.33333ms ease-in-out 33.33333ms, transform 300ms ease-in-out 333.33333ms;
  transition: bottom 233.33333ms ease-in-out 33.33333ms, transform 300ms ease-in-out 333.33333ms, -webkit-transform 300ms ease-in-out 333.33333ms;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media only screen and (max-width: 1023px) {
  .c-nav_ico_line {
    position: absolute;
    left: 0;
    width: 100%;
    height: .2em;
    -webkit-transition: all 266.66667ms ease-in-out 33.33333ms;
    transition: all 266.66667ms ease-in-out 33.33333ms;
    border-radius: .1em;
    background-color: #ed3d24;
  }
  .c-nav_ico_line.top {
    top: 0;
  }
  .c-nav_ico_line.middle {
    top: 50%;
    margin-top: -.1em;
  }
  .c-nav_ico_line.bottom {
    bottom: 0;
  }
}

@media only screen and (min-width: 1024px) {
  .c-nav_ico_line {
    display: none;
  }
}

@media only screen and (max-width: 1023px) {
  .c-nav_link_wrap {
    width: 100%;
    padding: 1.9em 0;
  }
}

@media only screen and (min-width: 1024px) {
  .c-nav_link_wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    -webkit-align-items: stretch;
    -moz-align-items: stretch;
    align-items: stretch;
  }
  .c-nav_link_wrap:hover, .c-nav_link_wrap.active {
    background: #fff;
  }
  .c-nav_link_wrap:hover .c-nav_link, .c-nav_link_wrap.active .c-nav_link {
    color: #ed3d24;
  }
}

.c-nav_link {
  text-transform: uppercase;
  color: #2e2e2e;
  border-bottom: none;
}

@media only screen and (max-width: 1023px) {
  .c-nav_link {
    letter-spacing: .08em;
  }
  .c-nav_link span {
    font-size: 1.6em;
    line-height: 1em;
  }
}

@media only screen and (min-width: 1024px) {
  .c-nav_link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    padding: 0 2.2em;
    letter-spacing: .11em;
  }
  .c-nav_link span {
    font-size: 1.67em;
  }
}

.c-nav_link span {
  font-weight: bold;
}

@media only screen and (max-width: 1023px) {
  .c-nav_footer {
    padding-top: 4.2em;
  }
}

@media only screen and (min-width: 1024px) {
  .c-nav_footer {
    display: none;
  }
}

@media only screen and (max-width: 1023px) {
  .b-nav_request_estimate_link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
  }
}

@media only screen and (min-width: 1024px) {
  .b-nav_request_estimate_link {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  .b-nav_customer_login {
    display: none;
  }
}

.b-nav_footer_text {
  padding: 1.1em 0 1em;
  text-decoration: underline;
  opacity: .35;
  color: #000;
}

.b-nav_footer_text span {
  font-size: 1.4em;
}

.b-nav_footer_email {
  display: inline-block;
  vertical-align: top;
}

.c-request_estimate_link {
  position: relative;
  letter-spacing: .11em;
  color: #2e2e2e;
  font-family: 'Cuprum', sans-serif;
  border-bottom: 0;
}

@media only screen and (max-width: 1023px) {
  .c-request_estimate_link {
    letter-spacing: .08em;
  }
}

.c-request_estimate_link:hover, .c-request_estimate_link.active {
  color: #ed3d24;
}

.c-request_estimate_link svg {
  width: 100%;
  height: 100%;
}

.c-request_estimate_link path {
  fill: #ed3d24;
}

.c-request_estimate_link span {
  font-size: 1.6em;
}

@media only screen and (max-width: 1023px) {
  .c-request_estimate_link span {
    font-size: 1.6em;
  }
}

.c-request_estimate_link_icon {
  position: relative;
  width: 1.8em;
  height: 1.4em;
  margin-right: .62em;
  background: url(../images/request-icon.svg) center no-repeat;
}

@media only screen and (max-width: 1023px) {
  .c-request_estimate_link_icon {
    width: 1.6em;
    height: 1.2em;
    margin-right: .6em;
  }
}

.c-request_estimate {
  position: fixed;
  z-index: 40;
  left: 0;
  width: 100%;
}

@media only screen and (max-width: 1023px) {
  .c-request_estimate {
    top: 6.2em;
    height: calc(100% - 6.2em);
    background: #fff;
  }
}

@media only screen and (min-width: 1024px) {
  .c-request_estimate {
    top: 0;
    height: 100%;
  }
}

.c-request_estimate.finished .c-request_estimate_form {
  display: none;
}

.b-request_bg {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 1023px) {
  .b-request_bg {
    display: none;
  }
}

.b-request_bg svg {
  width: 100%;
  height: 100%;
}

.b-request_content {
  position: relative;
  z-index: 2;
  overflow: hidden;
}

@media only screen and (max-width: 1023px) {
  .b-request_content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-align-content: space-around;
    -ms-flex-line-pack: space-around;
    align-content: space-around;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0 2.5em;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  .b-request_content {
    width: 44em;
    margin: 5.3em auto 6.4em;
  }
}

@media only screen and (min-width: 1280px) {
  .b-request_content {
    width: 55em;
    margin: 6.4em auto 11.2em;
  }
}

.b-request_result {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  position: relative;
  z-index: 3;
  width: 100%;
  height: 100%;
}

.b-request_result_wrap {
  text-align: center;
}

.b-request_title {
  font-weight: normal;
  width: 100%;
  text-align: center;
  color: #ef5c47;
}

@media only screen and (max-width: 1023px) {
  .b-request_title {
    box-sizing: border-box;
    padding: 0 2em;
  }
}

@media only screen and (max-width: 1023px) {
  .b-request_title span {
    font-size: 5em;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  .b-request_title span {
    font-size: 4.8em;
  }
}

@media only screen and (min-width: 1280px) {
  .b-request_title span {
    font-size: 6.4em;
  }
}

.b-request_text {
  color: #2e2e2e;
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  .b-request_text {
    margin-top: .6em;
  }
}

.b-request_text span {
  opacity: .5;
}

@media only screen and (max-width: 1023px) {
  .b-request_text span {
    font-size: 1.5em;
    line-height: 1.46667em;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  .b-request_text span {
    font-size: 1.6em;
    line-height: 1.375em;
  }
}

@media only screen and (min-width: 1280px) {
  .b-request_text span {
    font-size: 2em;
    line-height: 1.4em;
  }
}

.b-request_contact {
  color: #909090;
}

@media only screen and (max-width: 1023px) {
  .b-request_contact {
    margin-top: 2em;
    text-align: center;
  }
}

@media only screen and (min-width: 1024px) {
  .b-request_contact {
    position: absolute;
    text-align: right;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  .b-request_contact {
    bottom: .3em;
    left: 12em;
    width: 32em;
  }
}

@media only screen and (min-width: 1280px) {
  .b-request_contact {
    bottom: .6em;
    left: 15em;
    width: 40em;
  }
}

.b-request_contact a {
  text-decoration: underline;
  color: #909090;
}

.b-request_contact a:hover {
  color: #ef5c47;
}

.b-request_contact p {
  padding-top: .6em;
}

.b-request_contact span {
  font-size: 1.5em;
}

.b-request_form {
  width: 100%;
}

.b-request_steps {
  width: 200%;
  -webkit-transition: -webkit-transform .7s ease;
  transition: -webkit-transform .7s ease;
  transition: transform .7s ease;
  transition: transform .7s ease, -webkit-transform .7s ease;
  white-space: nowrap;
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  .b-request_steps {
    padding-top: 2em;
  }
}

@media only screen and (min-width: 1280px) {
  .b-request_steps {
    padding-top: 3em;
  }
}

.b-request_steps.fst {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.b-request_steps.sec {
  -webkit-transform: translate3d(-50%, 0, 0);
          transform: translate3d(-50%, 0, 0);
}

@media only screen and (max-width: 1023px) {
  .b-request_steps.sec {
    margin-left: -4em;
  }
}

@media only screen and (min-width: 1024px) {
  .b-request_steps.sec {
    margin-left: -2em;
  }
}

.b-request_step {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  white-space: normal;
}

@media only screen and (max-width: 1023px) {
  .b-request_step {
    padding-right: 4em;
  }
}

@media only screen and (min-width: 1024px) {
  .b-request_step {
    padding-right: 2em;
  }
}

@media only screen and (max-width: 1023px) {
  .b-request_textfield {
    margin-bottom: 3.6em;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  .b-request_textfield {
    width: 20em;
  }
}

@media only screen and (min-width: 1280px) {
  .b-request_textfield {
    width: 25em;
  }
}

@media only screen and (max-width: 1023px) {
  .b-request_textarea {
    height: 12.2em;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  .b-request_textarea {
    height: 10.7em;
  }
}

@media only screen and (min-width: 1280px) {
  .b-request_textarea {
    height: 12.2em;
  }
}

.b-request_submit {
  cursor: pointer;
}

@media only screen and (max-width: 1023px) {
  .b-request_submit {
    margin: 3.6em auto 0;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  .b-request_submit {
    margin-top: 3em;
  }
}

@media only screen and (min-width: 1280px) {
  .b-request_submit {
    margin-top: 4em;
  }
}

.b-request_submit g {
  fill: #ef5c47;
}

.b-request_submit .c-button_content {
  font-size: 1em;
  padding: 0;
  color: #f9f9f9;
}

.b-request_submit input {
  padding: 0 20px;
  border: 0;
  outline: 0;
  background: none;
}

@media only screen and (max-width: 767px) {
  .b-request_submit input {
    font-size: 2.25em;
    line-height: 2.35556em;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .b-request_submit input {
    font-size: 1.8em;
    line-height: 2.33333em;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  .b-request_submit input {
    font-size: 1.8em;
    line-height: 2.33333em;
  }
}

@media only screen and (min-width: 1280px) {
  .b-request_submit input {
    font-size: 2.2em;
    line-height: 2.36364em;
  }
}

.b-request_user {
  padding-top: 3em;
}

@media only screen and (min-width: 1024px) {
  .b-request_user {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  .b-request_user {
    padding-bottom: 2.8em;
  }
}

@media only screen and (min-width: 1280px) {
  .b-request_user {
    padding-bottom: 3.5em;
  }
}

.b-request_company {
  padding-top: 3em;
}

.b-request_company .c-textfield {
  width: 100%;
}

.b-request_budget {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  position: relative;
  margin-bottom: -2em;
  padding: 1em 0 0;
  border: 1px solid transparent;
}

@media only screen and (max-width: 1023px) {
  .b-request_budget {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
    margin-top: 1em;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  .b-request_budget {
    width: 101%;
    margin-top: .8em;
  }
}

@media only screen and (min-width: 1280px) {
  .b-request_budget {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
    margin-top: 2.4em;
  }
}

.b-request_budget.error {
  border-color: #ef5c47;
}

@media only screen and (max-width: 767px) {
  .b-request_budget .c-radiobutton {
    width: 23em;
    margin-bottom: 2.4em;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .b-request_budget .c-radiobutton {
    width: 43.5em;
    margin-bottom: 2.4em;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  .b-request_budget .c-radiobutton {
    width: 20em;
    margin-bottom: 2.4em;
  }
}

@media only screen and (min-width: 1280px) {
  .b-request_budget .c-radiobutton {
    width: 25em;
    margin-bottom: 2.6em;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  .b-request_budget .c-radiobutton:nth-child(even) {
    margin-left: 4em;
    white-space: nowrap;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  .b-request_budget .c-radiobutton .ui-radio,
  .b-request_budget .c-radiobutton i {
    margin-left: 1.1em;
  }
}

@media only screen and (min-width: 1280px) {
  .b-request_budget .c-radiobutton .ui-radio,
  .b-request_budget .c-radiobutton i {
    margin-left: 1.4em;
  }
}

.b-request_budget_custom {
  position: absolute;
  z-index: 2;
  margin-top: -2em;
}

@media only screen and (max-width: 767px) {
  .b-request_budget_custom {
    top: 50%;
    width: 23em;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .b-request_budget_custom {
    top: 50%;
    width: 43.5em;
  }
}

@media only screen and (min-width: 1024px) {
  .b-request_budget_custom {
    top: 50%;
    width: 20em;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  .b-request_budget_custom {
    left: 4em;
  }
}

@media only screen and (min-width: 1280px) {
  .b-request_budget_custom {
    left: 5em;
    margin-left: -.8em;
  }
}

/**
 * Component Header
 **/
/**
 * Component Copyright
 **/
/**
 * Component Customer Login
 **/
.c-copyright {
  opacity: .8;
}

.c-copyright span {
  font-size: 1.8em;
}

.c-customer_login {
  letter-spacing: .1em;
  text-transform: uppercase;
}

.c-customer_login span {
  font-size: 1.6em;
}

.l-column {
  margin: 0 auto;
}

@media only screen and (max-width: 767px) {
  .l-column {
    width: 28em;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .l-column {
    width: 72em;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  .l-column {
    width: 92em;
  }
}

@media only screen and (min-width: 1280px) {
  .l-column {
    width: 88em;
  }
}






/* Footer menu */
.l-footer {
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5em;
  background-color: rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 1023px) {
  .l-footer {
    display: none;
  }
}

.b-nav_footer_text {
  padding: 1.1em 0 1em;
  text-decoration: underline;
  opacity: .35;
  color: #000;
}

.b-nav_footer_text span {
  font-size: 1.4em;
}

.b-nav_footer_email {
  display: inline-block;
  vertical-align: top;
}

.c-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  position: relative;
  color: #fff;
  font-family: 'Cuprum', sans-serif;
  font-size: 10px;
}

.c-footer a {
  text-decoration: none;
  border-bottom: none;
}

.c-footer a:hover {
  text-decoration: none;
  border-bottom: none;
}

.c-footer address {
  font-style: normal;
}

.b-footer_contact {
  padding: 0.5em 0 0;
}

.b-footer_email {
  opacity: .5;
  text-decoration: underline;
  color: #fff;
}

.b-footer_email:hover {
  opacity: 1;
}

.b-footer_email span {
  font-size: 1.4em;
}

.b-footer_address .c-office {
  display: inline-block;
  vertical-align: top;
  padding: 1.8em 4em 0;
  text-align: center;
}

.b-footer_address .c-office .c-office_phone {
  font-size: 1.8em;
}

.b-footer_address .c-office .c-office_place {
  opacity: .5;
}

.b-footer_address .c-office .c-office_place span {
  font-size: 1.4em;
}

.b-footer_customer_login {
  display: block;
  opacity: .8;
  color: #fff;
}

.b-footer_customer_login:hover {
  opacity: 1;
}

.b-footer_customer_login span {
  line-height: 4.4em;
}



a.button {
  display: inline-block;

  //zoom: 1;
  //display: inline;

  position: relative;
  overflow: hidden;

  letter-spacing: normal;
  word-spacing: normal;

  padding: 0.5em 3.5em; margin: 0;
  border: none !important;

  vertical-align: top;

  width: auto;

  font-family: CuprumRegular, Helvetica, sans-serif;
  font-size: 1.2em; line-height: normal;
  color: #ffffff;
  background: #ee3b23;
  text-decoration: none;

  text-shadow: 1px 1px 1px #464646;

  /*-webkit-border-radius: 5px;*/
  /*border-radius: 6px;*/

/*  -webkit-box-shadow: 0 4px 0 #a12917;
  box-shadow: 0 4px 0 #a12917;*/


  cursor: pointer;
}
a.button:hover {background-color: #F04F39;}

a.button.disabled {
  color: #bbbbbb;
  background: #767676;
  text-decoration: none;
  box-shadow: 0 4px 0 #575757;
  cursor: default;
}
a.button.disabled:hover {}





/* Блок заказчиков */
#customers {
  margin: 0;
  background: #ee3b23;
  -webkit-box-shadow: 0px 2px 2px -1px #9b9b9b;
  box-shadow: 0px 2px 2px -1px #9b9b9b;

  overflow: hidden;
}

#customers > div {
  display: block;
  width: 10000%;
  overflow: hidden;
  white-space: nowrap;
}
#customers .swiper-slide {
  float: none !important;
  height: 4em;
}
#customers .swiper-slide img {
  float: none;
  display: block;
  margin: 0 auto;
}
#customers .swiper-slide img.bitmap  {
  display: none;

  display: inline-block\0/;
  //zoom : 1;
  //display : inline;
}
#customers .swiper-slide img.vector  {
  display: none\0/;
  //display: none;
}



#copy-write {margin: 1em 0 0 0;}



/* Feedback  */
#feedback {
  background: #2d3538;
  color: #bfbfbf;
  text-align: center;
  font-size: 1.2em; line-height: normal;
  display: block; overflow: hidden;
  padding: 1em 0 5em 0;
}

#feedback a {
  color: #ffffff;
  border-bottom: 1px solid #6f797c;
}
#feedback a:hover {  border-bottom: 1px solid #ffffff;}

#feedback a.button {font-size: 1.55em; line-height: normal;}

#feedback h1,
#feedback h2,
#feedback h3 { color: #ffffff; margin: 1em 0 0 0; }

#feedback h1 { font-family: CuprumRegular, sans-serif;  font-size: 2.5em; line-height: normal; }
#feedback h2 { font-size: 1.6em; line-height: normal; white-space: nowrap;}
#feedback p { font-size: 1.2em; line-height: normal;  margin: 0.5em 0 0 0; }

#feedback .content-wrapper > .ibi { width: 505px; text-align: left; margin-top: 2em; }
#feedback .content-wrapper > .ibi + .ibi {
  margin-left: 8%;
  margin-top: 1em;
  width: auto;
}

#feedback p > img { vertical-align: middle; margin-right: 0.6em; }
#feedback p > img + span { vertical-align: middle }

#feedback .form-item,
#feedback .form-actions { margin: 0.9em 0 0 0; }
#feedback .form-actions { text-align: right }

#feedback input[type=text],
#feedback textarea {
  display: block;

  width: 100%;

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-border-box: border-box;
  box-sizing: border-box;

  background: #4d5457;

  border: 0; margin: 0;
  padding: 0.6em 0.8em;

  font-family: CuprumRegular, Helvetica, sans-serif;
  font-size: 1.2em; line-height: normal;
  color: #bfbfbf;

  box-shadow: none;
}

#feedback textarea {
  max-height: 200px;
  min-height: 109px;

  max-width: 100%;
  min-width: 100%;
}
#feedback input[type=text].error,
#feedback textarea.error {
  outline: 1px solid red;
}

#feedback .form-item.name,
#feedback .form-item.mail {
  display: -moz-inline-stack;
  display: inline-block;
//zoom : 1;
//display : inline;

  width: 38%;
}
#feedback .form-item.mail {margin-left: 3%; width: 59%;}

@media (min-width: 616px) and (max-width: 950px) {
  #feedback .content-wrapper > .ibi {width: 554px;}
  #feedback .content-wrapper > .ibi + .ibi { width: 554px; margin-left: 0;}
}
@media (min-width: 480px) and (max-width: 950px) {
  #feedback .content-wrapper > .ibi + .ibi > div {
    display: -moz-inline-stack;
    display: inline-block;
  //zoom : 1;
  //display : inline;

    width: 54%;

    vertical-align: top;
  }
  #feedback .content-wrapper > .ibi + .ibi > div + div {margin-left: 2%; width: 44%;}
}
@media (min-width: 0) and (max-width: 400px) {
  #feedback a.button {
    display: block;
    text-align: center;
  }
}
@media (min-width: 0) and (max-width: 616px) {

  #feedback .form-item.name,
  #feedback .form-item.mail {
    display: block;
    width: auto;
    margin-left: 0;
  }

  #feedback .content-wrapper > .ibi { display: block; width: auto; }
  #feedback .content-wrapper > .ibi + .ibi {
    display: block;
    width: auto;
    margin-left: 0;
  }


  #feedback input[type=text],
  #feedback textarea {
    display: block;
  }
}

/* success form */
#success-send-form {
  position: fixed;
  width: 400px; height: 200px;
  background: rgba(0, 0, 0, 0.69);
  left: 50%; top: 50%;
  margin: -100px 0 0 -200px;
  z-index: 2;
  border-radius: 2em;
  -moz-border-radius: 2em;
  -webkit-border-radius: 2em;
}
#success-send-form h1,
#success-send-form h2,
#success-send-form h3 { margin-top: 0 }

@media (min-width: 0) and (max-width: 650px) {
  #success-send-form {
    width: 200px; height: 100px;
    left: 50%; top: 50%;
    margin: -50px 0 0 -100px;
  }
}

#success-send-form > * > * { padding: 2em; }
#success-send-form h2 { font-size: 2em; line-height: normal; color: #ffffff; }
#success-send-form p { font-size: 1.5em; line-height: normal; color: #ffffff; }





/* Social */
#social {
  margin: 0 5%;
  color: #b3b3b3;
  display: none;
}


#social p {text-align: center;}
#social a {
  padding: 0; margin: 0 3% 0 3%;

  vertical-align: middle;
  background: url("../misc/social.png") no-repeat;

  width: 50px; height: 50px;

  text-decoration: none;
  border-bottom: none;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  #social a {
    background: url("../misc/hight/social.png") no-repeat;

    -moz-background-size: 192px 169px;
    -webkit-background-size: 192px 169px;
    -o-background-size:  192px 169px;
    background-size: 192px 169px;
  }
}


#social a.twitter {width: 69px; height: 65px; background-position: -51px 0;}
#social a.twitter:hover {background-position: -51px -65px;}

#social a.facebook {width: 51px; height: 66px; background-position: 0 0;}
#social a.facebook:hover {background-position: 0 -66px;}

#social a.in {width: 61px; height: 57px; background-position: -120px 0;}
#social a.in:hover {background-position: -120px -57px;}

@media (min-width: 0) and (max-width: 600px)  {
  #social {display: block;}
}



