
.color-reaction b {
  -webkit-transition: color 1s ease-out;
  -moz-transition: color 1s ease-out;
  -o-transition: color 1s ease-out;
  transition: color 1s ease-out;
}




/* banner */
.banner { margin: 1em 0 0 0; padding: 150px 0 0 0; overflow: hidden; }
.banner.initialised { height: auto; }

.banner * { font-family: ArsenalRegular, sans-serif; color: #ffffff; font-style: normal; }
.banner a { color: #ffffff; text-decoration: none; border-bottom: 1px solid rgba(255, 255, 255, 0.22); }
.banner a:hover { color: rgba(255, 255, 255, 0.90); }

.banner ul li {
  overflow: visible !important;
  vertical-align: top;
  padding: 0; margin: 0;
  display: block;
}

.banner .tp-bullets { display: none; }

.banner .tp-banner { background: #1b97d7; }
/*.banner .tp-banner { background: #6cb850; }*/
/*.banner .tp-banner.revslider-initialised {background: none;}*/

.banner .tp-simpleresponsive .tp-caption.img a,
.banner .tp-simpleresponsive .tp-caption.img a img {
  border-bottom: 0; display: block;
  text-decoration: none;
}
.banner .tp-simpleresponsive .tp-caption.header-big,
.banner .tp-simpleresponsive .tp-caption.header {
  font-family: CuprumRegular, Helvetica, sans-serif;
  font-size: 48px; line-height: 58px;
  text-decoration: none;
  background-color: transparent;
  text-shadow: none;
  margin: 0; padding: 0;
  white-space: nowrap;
}
.banner .tp-simpleresponsive .tp-caption.header-big {font-size: 52px; line-height: 63px;}
.banner .tp-simpleresponsive .tp-caption.header a,
.banner .tp-simpleresponsive .tp-caption.header-big a { font-family: CuprumRegular, Helvetica, sans-serif; }



.banner .tp-simpleresponsive .tp-caption.text {
  position: absolute;
  font-size: 24px; line-height: 30px;
  margin: 0; padding: 0;
  white-space: nowrap;
}

.banner .tp-bannertimer { left: -3000px !important; }
.banner .slotholder,
.banner .slotholder .tp-bgimg { overflow: hidden; }


.banner .tp-leftarrow {
  top: 0 !important; height: 100% !important; margin-top: 0 !important;
  background: none !important;
}
.banner .tp-leftarrow:after {
  content: ''; position: absolute;
  width: 40px; height: 71px;
  top: 50%; left: 0;
  margin-top: -36px;
  background: url("../misc/revolution/assets/large_left_white.png") top left no-repeat;
}

.banner .tp-rightarrow {
  top: 0 !important; height: 100% !important; margin-top: 0 !important;
  background: none !important;
}
.banner .tp-rightarrow:after {
  content: ''; position: absolute;
  width: 40px; height: 71px;
  top: 50%; right: 0;
  margin-top: -36px;
  background: url("../misc/revolution/assets/large_right_white.png") top left no-repeat;
}
.banner .tp-leftarrow:hover:after,
.banner .tp-rightarrow:hover:after {background-position: 0 -71px}

.banner .tp-leftarrow.default {
  top: 0 !important; height: 100% !important; margin-top: 0 !important;
  background: none;
}
.banner .tp-rightarrow.default {
  top: 0 !important; height: 100% !important; margin-top: 0 !important;
  background: none;
}


@media (min-width: 1264px) {
  .banner .tp-leftarrow {
    right: auto !important;
    left: 50% !important;
    margin-left: -610px !important;
  }
  .banner .tp-rightarrow {
    right: auto !important;
    left: 50% !important;
    margin-left: 570px !important;
  }
}
@media (max-width: 1264px) {
  .banner .tp-rightarrow {right: 1% !important;}
  .banner .tp-leftarrow {left: 1% !important;}
}

@media (max-width: 800px) {
  .banner .tp-rightarrow:after,
  .banner .tp-leftarrow:after {
    background-size: 100% 200% !important;
    -webkit-background-size: 100% 200% !important;
    -o-background-size: 100% 200% !important;
  }
}

@media (min-width: 480px) and (max-width: 800px) {
  .banner .tp-rightarrow:after,
  .banner .tp-leftarrow:after { width: 20px; height: 36px; margin-top: -16px;}

  .banner .tp-leftarrow:hover:after,
  .banner .tp-rightarrow:hover:after {background-position: 0 -36px}
}

@media (min-width: 0) and (max-width: 480px) {
  .banner .tp-rightarrow:after,
  .banner .tp-leftarrow:after { width: 12px; height: 22px; margin-top: -11px;}

  .banner .tp-leftarrow:hover:after,
  .banner .tp-rightarrow:hover:after {background-position: 0 -22px}
}

.banner .tp-loader {
  background: url("../misc/revolution/assets/ajax-loader.gif") no-repeat 0 0;
  margin: -16px -16px;
  top: 50%; left: 50%;
  z-index: 10000;
  position: absolute; width: 32px; height: 32px;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}





/* Banner section */
@media (min-width: 0) and (max-width: 600px)  {
  #info h1 {
    margin: 0.5em 0 0 0;
    font-size: 2.4em;
  }
}
#info ul.features,
#info ul.features li {
  list-style: none;
  margin: 0; padding: 0;
}
#info ul.features { text-align: center; }
#info ul.features li .ic,
#info ul.features li .ico { vertical-align: middle; }
#info ul.features li {
  margin: 1em 0 0 0;
  font-size: 1.55em; line-height: normal;
  font-family: CuprumRegular, Helvetica, sans-serif;
  white-space: nowrap;
  vertical-align: middle;
  text-align: left;
  width: 49%;
}

#info ul.features li:nth-child(even) { }
#info ul.features li span.ibi { vertical-align: middle; }
#info ul.features li b {font-weight: normal;}
#info ul.features li em {
  font-family: CuprumBold, Helvetica, sans-serif;
  font-size: 4em; line-height: normal;
  font-weight: normal;
  font-style: normal; text-transform: uppercase;
  vertical-align: middle;
}

#info ul.features li.mobile { }
#info ul.features li.mobile span.ibi:first-child { margin-top: 0.45em; }
#info ul.features li.mobile span.ibi:first-child .ico { margin-right: 0.3em; height: 4.5em;}
#info ul.features li.mobile span.ibi + span.ibi > span {
  display: block;
  font-size: 1.4em;
  line-height: normal;
  margin: -0.7em 0 0 0.2em;
}

#info ul.features li.apps { text-align: right; }
#info ul.features li.apps em { font-size: 4.5em; line-height: normal; }
#info ul.features li.apps > .ibi { text-align: left; white-space: nowrap; }
#info ul.features li.apps > .ibi span:first-child .ico { margin-top: -0.4em; height: 3.3em; }
#info ul.features li.apps > .ibi > span + span {
  display: block;
  font-size: 1.15em; line-height: normal;
  margin: -0.7em 0 0 0;
}

#info ul.features li.android { margin-left: -0.6em; margin-right: 0.6em; }
#info ul.features li.android span.ibi:first-child .ico {height: 4.2em;}
#info ul.features li.android span.ibi + span.ibi em { font-size: 3.6em; line-height: normal }
#info ul.features li.android span.ibi + span.ibi > span { display: block; margin: -0.8em 0 0 0; }

#info ul.features li.experts { text-align: right; }
#info ul.features li.experts > .ibi { text-align: left; white-space: nowrap; }
#info ul.features li.experts > .ibi .ibi:first-child .ico { margin-top: -0.15em; height: 3.5em;}
#info ul.features li.experts > .ibi .ibi:first-child em { font-size: 4.5em; line-height: normal; }
#info ul.features li.experts > .ibi .ibi + .ibi { font-size: 1.25em; line-height: normal; }
#info ul.features li.experts > .ibi .ibi + .ibi em { font-size: 2.48em; line-height: normal; display: block; margin: -0.2em 0 0 -0.05em; }

#info p { font-size: 1.5em; line-height: 1.5em; }

@media (min-width: 840px) and (max-width: 1040px) {
  #info ul.features li { font-size: 1.55em; line-height: normal; }
}
@media (min-width: 736px) and (max-width: 840px) {
  #info ul.features li { font-size: 1.4em; line-height: normal; }
}
@media (min-width: 650px) and (max-width: 736px) {

  #info ul.features li { font-size: 1.2em; line-height: normal; }
}
@media (min-width: 510px) and (max-width: 650px) {
  #info ul.features li { font-size: 1.1em; line-height: normal; }
}
@media (min-width: 468px) and (max-width: 510px) {
  #info ul.features li { font-size: 1em; line-height: normal; }
}
@media (min-width: 380px) and (max-width: 468px) {
  #info ul.features li { font-size: 0.8em; line-height: normal; }
}

@media (min-width: 0) and (max-width: 380px) {
  #info ul.features li { font-size: 0.7em; line-height: normal; }
}

#info ul.features .ico {
  display: none;

  display: inline-block\0/;
  //zoom : 1;
  //display : inline;
}
#info ul.features .ico.v {
  display: inline-block;
  display: none\0/;
  //display: none;
}

@media (min-width: 0) and (max-width: 590px) {

  #info .banner .tp-simpleresponsive .tp-caption.text {display: none;}

  #info .banner .tp-simpleresponsive .slide-01 .tp-caption.header-big span {position: relative; top: 1.2em; left: -0.5em;}
  #info .banner .tp-simpleresponsive .slide-02 .tp-caption.header-big span {position: relative; top: 1.25em;}
  #info .banner .tp-simpleresponsive .slide-03 .tp-caption.header-big span {position: relative; top: 1.4em; left: 1em;}
  #info .banner .tp-simpleresponsive .slide-04 .tp-caption.header-big span {position: relative; top: 1.3em; left: 1em;}
  #info .banner .tp-simpleresponsive .slide-05 .tp-caption.header-big span {position: relative; top: 1.3em; left: 1em;}
  #info .banner .tp-simpleresponsive .slide-06 .tp-caption.header-big span {position: relative; top: 1.3em; left: 1em;}
  #info .banner .tp-simpleresponsive .slide-07 .tp-caption.header-big span {position: relative; top: 1.3em; left: 1em;}

  #info .banner .tp-simpleresponsive .tp-caption.header a {
    font-size: 1.3em; line-height: normal;
  }

  #info .banner .tp-simpleresponsive .slide-01 .tp-caption.header span {position: relative; top: 1em; left: 2em;}
  #info .banner .tp-simpleresponsive .slide-02 .tp-caption.header span {position: relative; top: 1em; left: 1em;}
  #info .banner .tp-simpleresponsive .slide-03 .tp-caption.header span {position: relative; top: 1em; left: -4em;}
  #info .banner .tp-simpleresponsive .slide-04 .tp-caption.header span {position: relative; top: 1em;}
  #info .banner .tp-simpleresponsive .slide-05 .tp-caption.header span {position: relative; top: 1em; left: -3em;}
  #info .banner .tp-simpleresponsive .slide-06 .tp-caption.header span {position: relative; top: -0.55em;}
  #info .banner .tp-simpleresponsive .slide-07 .tp-caption.header span {position: relative; top: 1.45em; left: 1.5em;}

}






/* Market section */
@media (min-width: 0) and (max-width: 600px)  {
  #market h1 {
    margin: 0.5em 0 0 0;
    font-size: 2.4em;
  }
}
#market { padding: 0.2em 0 5em 0; }
#market p { font-size: 1.5em; line-height: 1.5em; }

#market ul,
#market ul li {
  list-style: none;
  margin: 0; padding: 0;
}
#market ul { margin-top: 2.5em; }
#market ul li {
  position: relative;
  padding: 0 0 0 6.5em;
}
#market ul li .ico { position: absolute; top: 0.5em; left: 0; width: 4.5em}

#market ul li h2,
#market ul li h3 {
  font-size: 1.7em; line-height: normal;
  font-family: ArsenalBold, sans-serif;
  font-style: normal;
  font-weight: normal;
}
#market ul li h2 + p,
#market ul li h3 + p { margin-top: 0; }


/*UDID FIX*/
.udid {background: #2faaff; color: #fff; position: relative; text-align: center; padding: 60px 10px 0px; height: 100%; background-image: linear-gradient(to bottom, #1B60A8 0%, #00C6E1 100%); background-image: -webkit-linear-gradient(top, #1B60A8 0%, #00C6E1 100%); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #1B60A8), color-stop(1, #00C6E1)); background-image: -o-linear-gradient(top, #1B60A8 0%, #00C6E1 100%); background-image: -moz-linear-gradient(top, #1B60A8 0%, #00C6E1 100%); background-image: -ms-linear-gradient(top, #1B60A8 0%, #00C6E1 100%);}
    .udid h1 {font-family: "Helvetica-Neue-Ultra-Light"; font-size: 4.7em; line-height: normal; margin-top: 0;}
    .udid h1.alfa {color: rgba(255,255,255,0.5);}
    .udid h3 {font-family: "Helvetica-Neue-Ultra-Light";  font-size: 3.5em; margin-top: 10px;}
    .udid h4 {font-family: "Helvetica-Neue-Ultra-Light";  font-size: 2.7em; margin-top: 25px;}
        .udid h4 + h4 {margin-top: 45px;}
    .udid input[type=text],.udid textarea {display: block; width: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -ms-border-box: border-box; box-sizing: border-box; background: #fff; border: 0; margin: 0; padding: 0.6em 0.8em; font-family: CuprumRegular, Helvetica, sans-serif; font-size: 1.2em; line-height: normal; color: #bfbfbf; box-shadow: none;}
    .udid input[type=text] + input[type=text]{margin-top: 10px;}

.udid-button {margin-top: 1em; margin-bottom: 1em; font-size: 1.45em; text-align: center;}
.two-columns {min-width: 250px; max-width: 600px; margin: 0 auto;}
    .two-columns .left, .two-columns .right {width: 48%;}
    .two-columns.content {padding: 20px 0px 0px; font-size: 1.7em; line-height: normal; text-align: center;}
.overflow {overflow: hidden;}
    .overflow .left {float: left; padding-left: 1%; line-height:0;}
    .overflow .right {float: right; padding-right: 1%; line-height:0;}
        .overflow .left img, .overflow .right img {width: 100%;}

.pt44 {font-size: 44pt;}
.header--blue {}
    .header--blue:after {background: #1B60A8;}

.desktop:after {content: ''; padding: 20px 0px 0px;}
.left-align {text-align: left;}
.inner {margin-bottom: 50px;}
.fields {margin-bottom: 20px;}
.copy-button {margin-bottom: 80px; text-align: left; }
    .copy-link {font-size: 2em; color: #fff; text-decoration: none; border: 1px solid #fff; padding: 15px; -webkit-border-radius: 7px; -moz-border-radius: 7px; border-radius: 7px;}
        .copy-link:hover {text-decoration: none; border: 1px solid #fff;}

/*DESKTOP VERSION*/
.desktop {text-align: center; margin-bottom: 80px; margin-top: 50px; width: 880px; margin: 50px auto 50px auto;}
    .desktop__title {font-family: 'Helvetica-Neue-Light'; color: #545C62; font-size: 43pt; margin: 0 0 50px 0;}
    .desktop__step {margin: 0 0 75px 0; position: relative; text-align: left; padding: 30px 0 0 0;}
        .desktop__step + .desktop__step {border-top: 1px solid #545C62;}
        .desktop__step__line {position: absolute; bottom: 5px; right: 32%;}
            .desktop__step__line img {max-width: 100%;}
        .desktop__step__number {font-family: 'Helvetica-Neue'; font-weight: bold; font-size: 95pt; color: #7faed5; margin: 0 0 0 0;}
        .desktop__step__description {font-family: 'Helvetica-Neue-Light'; font-size: 24pt; color: #545C62; line-height: 29pt;}
            .desktop__step__description--one {padding: 0 0 0 30px;}

.row {}
    .row:after {content:' '; display:table;}
    .row:after {clear: both;}
    .row img {max-width: 100%;}
    .row > .col__left {float: left;}
    .row > .col__right {float: right;}
    .row > .col__middle {overflow:hidden;}
    .row > .col--1of1 {width: 100%;}
    .row > .col--1of2 {width: 48%;}
    .row > .col--1of3 {width: 32%;}
    .row > .col--left-offset {margin-left: 20px;}

@media (min-width: 515px) and (max-width: 700px)  {
    .udid h1 {font-size: 5em;}
    .udid h4 {font-size: 2.9em;}
    .udid h4.code {font-size: 1.5em;}
}

@media (min-width: 500px) and (max-width: 515px)  {
    .udid h4 {font-size: 2.6em;}
    .udid h4.code {font-size: 1.5em;}
}

@media (min-width: 450px) and (max-width: 500px)  {
    .inner {margin-bottom: 40px;}
    .udid {padding: 40px 10px 0px;}
        .udid h1 {font-size: 4.7em;}
        .udid h4 {font-size: 2.6em;}
        .udid h4.code {font-size: 2em;}
}

@media (min-width: 400px) and (max-width: 450px)  {
    .inner {margin-bottom: 40px;}
    .udid {padding: 40px 10px 0px;}
        .udid h1 {font-size: 4.1em;}
        .udid h4 {font-size: 2.3em; word-break:break-all;}
        .udid h4 + h4 {margin-top: 20px;}
        .udid h4.code {font-size: 2em; line-height: 24px;}
}

@media (min-width: 260px) and (max-width: 400px)  {
    .inner {margin-bottom: 40px;}
    .udid {padding: 40px 10px 0px;}
        .udid h1 {font-size: 3em;}
        .udid h4 {font-size: 1.7em; word-break:break-all; margin-top: 15px;}
        .udid h4 + h4 {margin-top: 20px;}
        .udid h4.code {font-size: 2em; line-height: 24px;}
}

@media (min-width: 0px) and (max-width: 260px)  {
    .inner {margin-bottom: 35px;}
    .udid {padding: 20px 10px 0px;}
        .udid h1 {font-size: 3em;}
        .udid h4 {font-size: 1.7em; word-break:break-all; margin-top: 15px;}
        .udid h4 + h4 {margin-top: 20px;}
        .udid h4.code {font-size: 2em; line-height: 24px;}
}